<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=".">    <title>ChartDN - A Delivery Network for Charts</title>    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="css/mainstyle.css">

</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">ChartDN</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/new" class="pure-menu-link">New Chart</a></li>
            <li class="pure-menu-item"><a href="/browse" class="pure-menu-link">Browse Charts</a></li>
            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log In</a></li>
            <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Register</a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
    	<div class="pure-g">
    		<div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
    		</div>
			<div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
				Hi, {{ username }}
			</div>
		</div>

    </div>

	
	

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>

</body>
</html>